@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dhurjati&family=Ephesis&family=Inter:wght@300;400;800&family=Open+Sans:wght@600&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dhurjati&family=Ephesis&family=IBM+Plex+Mono:ital@1&family=Inter:wght@300;400;800&family=Josefin+Sans:ital,wght@1,300&family=Open+Sans:wght@600&family=Sacramento&display=swap');

@media screen and(max-width:720px) {
    
.social {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 40px;
    }
.end1{
    display: flex;
    flex-direction: column;
}


}
